@media (max-width: 733px) {

    .filter_p {
        display: none;
    }
    .filter_p2{
        display: inline;
    }

    .best_selling_p {
        display: none;
    }

    .best_selling {
        width: 40px;
    }

    .fa-magnifying-glass {
        font-size: 32px;
    }

    .user {
        width: 32px;
        height: 32px;
    }

    .cart {
        width: 32px;
        height: 32px;
    }
    /* header */
    .header_div3{
        column-gap: 16px;
    }
    .header_div3_2{
        column-gap: 16px;
    }
    .fa-magnifying-glass{
        font-size: 32px;
    }
    .user{
        font-size: 16px;
    }
    .cart{
        font-size: 16px;
    }
    .guitar_logo{
        width: 40px;
        height: 40px;

    }
    .types{
        padding: 16px 0;
    }

    /* section2     */
    .section2_left {
        display: none;
    }

    .section2_right {
        display: none;
    }

    .new_collection {
        font-size: 24px;
        line-height: 32px;
    }

    /* section3 */
    .section3_article_div1{
        width: 50%;
        justify-content: space-between;
    }
    .section3_article {
        width: 100%;
        height: 140px;
    }
   
    

    .section3_p {
        font-size: 16px;
        line-height: 24px;
    }

    /* section4 */
    .section4{
        padding: 48px 0;
    }
    .popular {
        font-size: 24px;
        line-height: 32px
    }

    .popular::after {
        width: 156.003px;
    }
    /* section5 */
    .section5{
        padding: 48px 0;
    }

    /* section6 */
    .section6_h2 {
        font-size: 20px;
        line-height: 32px;
    }

    .email {
        padding-right: 80px;
    }

    .section6_div {
        row-gap: 24px;
        
    }
    /* section7 */
    .section_7{
        padding: 32px 16px;
    }
    /* section8 */
    .section8_div1{
        top: 32px;
        right: 50%;
        transform: translateX(50%);

    }
    .section8_h2{
        font-size: 16px;
        line-height: 24px;
        width: 295px;
    }
    .section8_div1{
        align-items: center;
    }
    .mail_p{
        display: none;
    }
    .location{
        width: 24px;
        height: 24px;
    }
    .section8_article1{
        padding: 16px 92px;
        column-gap: 24px;
    }
    .section8_div2{
        flex-direction: column;
        row-gap: 40px;
    }
    .section8_info{
        flex-direction: row;
        column-gap: 24px;
    }
    .social_div{
        flex-direction: row;
    }
    .section8_div3{
        align-items: center;
    }

}

@media (max-width: 620px) {
    /* section5 */
    .section5_guitar {
        width: 298px;
        height: 320px;
    }
    .section5_p2{
        width: 266px;
    }
    .section5_p1{
        width: 169px;
    }
    .section5_div{
        width: 70%;
        padding: 0px;
    }

    .third_responsive {
        display: none;
    }

    .footer_pos {
        flex-direction: column;
        row-gap: 40px;
        top: 32px;
    }

}

@media (max-width: 545px) {

    /* section1 */
    .article_types {
        padding: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    /* section2 */
    .new_collection {
        font-size: 24px;
        line-height: 36px;
        width: 215px;
    }
    /* section4 */
    .section4{
        padding: 32px 0;
        row-gap: 40px;
    }
    /* section5 */
    .section5{
        padding: 48px 0;
        row-gap: 48px;
    }

}