/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 5px solid red;
    padding-top: 97.6px;

    
}

/* header */
header {
    
    max-width: inherit;
    width: inherit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
    padding: 16px calc(94 / 1440 * 100%);
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #05BCCA;
}
.fa-bars{
    display: none;
    color: #05BCCA;
    font-size: 32px;
}
.burger,
.fa-xmark {
    display: none;
    font-size: 40px;
    color: #05BCCA;
}


/* nav */
.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.h_li:active {
    transform: scale(0.8);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.h_li {
    animation: rotate 1s linear 1;
}



/* hover */
.header_li:hover {
    border-bottom: 2px solid #05BCCA;
}

.guitar_logo {
    width: 64px;
    height: 64px;
    

}

/* third div */
.header_div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 42px;
}

.header_div3_2 {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.header_section {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.fa-magnifying-glass {
    font-size: 24px;
    color: #05BCCA;
}

/* hover */
.fa-magnifying-glass:hover {
    font-size: 30px;

}

.lan_val {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
}

.fa-chevron-down {
    font-size: 13px;
    color: #05BCCA;
}

.fa-chevron-down:hover {
    font-size: 20px;
}

.user {
    color: #05BCCA;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}

.user:hover {
    background-color: #05BCCA;
    color: #012426;
}

.cart {
    color: #05BCCA;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}

.cart:hover {
    background-color: #05BCCA;
    color: #012426;
}

/* section1 */
.types {
    display: flex;
    padding: 36px calc(444 / 1440 * 100%);
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
}

.article_types {
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid #05BCCA;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}

/* section2 */
.section2 {
    height: 480px;
    position: relative;
}

.guitar_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2_div {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.new_collection {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;

}

.collection {
    color: #05BCCA;
}

.fa-arrow-right {
    padding: 6px;
    border-radius: 4px;
    background-color: #C46A2B;
    color: #FFF;

}

.section2_left {
    padding: 20px;
    border-radius: 4px;
    background: #C46A2B;
    position: absolute;
    left: 94px;
    bottom: 204px;
    color: #FFF;
}

.section2_right {
    padding: 20px;
    border-radius: 4px;
    background: #C46A2B;
    position: absolute;
    right: 94px;
    bottom: 204px;
    color: #FFF;
}

/*  hovers */
.fa-arrow-right:hover {
    color: #05BCCA;
}

.section2_right:hover {
    color: #05BCCA;
}

.section2_left:hover {
    color: #05BCCA;
}

/* section3 */
.section3 {
    padding: 96px 306px;
    background-color: #012426;
}

.section3_div {
    display: flex;
    column-gap: 20px;
}
.section3_article_div1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section3_article {
    width: 404px;
    height: 240px;
    position: relative;
}

.section3_guitar {
    width: 100%;
    height: 100%;
}

.section3_p {
    position: absolute;
    top: 16px;
    left: 16px;
    color: #F5F5F5;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}

/* section4 */
.section4 {
    display: flex;
    padding: 96px 26px;
    flex-direction: column;
    align-items: center;
    row-gap: 64px;
    background-color: #1A1A1A;

}

.popular {
    color: #05BCCA;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
}

.popular::after {
    content: "";
    display: block;
    margin: auto;
    width: 187.267px;
    height: 2px;
    background-color: #05BCCA;
}

.section4_div {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    padding-left: 94px;
    overflow-x: hidden;


}

/* cards */

.card {
    display: flex;
    padding: 8px 8px 16px 8px;
    flex-direction: column;
    row-gap: 16px;
    background-color: #2C4246;

    
}

.card:hover {
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}

.section4_guitar {
    width: 100%;
    height: 290px;
}

.card_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}

.review_price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 73px;
}

.star_review {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.star_div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.review {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.fa-star {
    font-size: 16px;
    color: #C46A2B;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.fa-dollar-sign {
    font-size: 16px;
    color: #05BCCA;
}

.dollar {
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

/* section5 */
.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 94px;
    row-gap: 72px;
    background-color: #012426;
    padding-left: 94px;
    overflow-x: hidden;
    
}

.news {
    color: #C46A2B;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    border-bottom: 2px solid #C46A2B;
}

/* cards */
.section5_div {
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.section5_article {
    width: 404px;
    height: 440px;
    position: relative;
}

.section5_guitar {
    width: 100%;
    height: 100%;
}

.article5_div {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    row-gap: 16px;
    background: rgba(5, 188, 202, 0.60);
    padding: 23px 211px 23px 24px;
    
    


}


.section5_p {

    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.section5_p2 {
    display: none;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    width: 344px;
}

.show_more_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    width: 86px;
}

.show_more {
    display: flex;
    align-items: center;
    column-gap: 16px;
    display: none;
}

/* hover */
.article5_div:hover {
    height: 100%;

    .section5_p2 {
        display: inline;
    }

    .show_more {
        display: flex;
        position: absolute;
        top: 371px;
        left: 218px;
    }

}

/* section6 */
.section_6 {
    height: 320px;
    position: relative;
}

.section6_guitar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section6_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 107px;
}

.section6_h2 {
    color: #05BCCA;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

/* form */
.section6_form1 {
    display: flex;
    position: relative;
}

.email {
    padding-left: 8px;
    padding-right: 240px;
    height: 48px;
    color: #A1C3C9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: rgba(44, 66, 70, 0.80);
}

.email_button {
    border: none;
    display: flex;
    height: 48px;
    padding: 14px 13px 13px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #F5F5F5;
    border-left: none;
    background: #05BCCA;
    position: absolute;
    right: 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.email_button:hover {
    background: #FFF;
    color: #05BCCA;
}

/* footer */
footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #2C4246;
    padding: 48px 306px 152px 306px;
    
    position: relative;
}


.footer_main {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.footer_h2 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border-bottom: 2px solid #D9D9D9;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.list_p1 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.list_p2 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.socials {
    display: flex;
    align-items: center;
    column-gap: 16px;

}

.social_icons {
    font-size: 32px;
    color: #D9D9D9;
}

.fa-square-facebook:hover {
    color: blue;
}

.fa-square-instagram:hover {
    color: purple;
}

.fa-square-whatsapp:hover {
    color: green;
}

.copyright {
    display: flex;
    align-items: center;
    column-gap: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 64px;
}

.fa-copyright {
    font-size: 20px;
    color: #D9D9D9;
}

.fa-copyright:hover {
    color: #05BCCA;
}

.copyright_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* catalog.html */
.electric {
    background-color: #A1C3C9;
    color: #2C4246;
}

.section_7 {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding: 96px 94px;
    background-color: #012426;
}

.filter_search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.filteri {
    width: 32px;
    height: 32px;
}

.filteri:hover {
    width: 42px;
    height: 42px;
}

.sort {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.filter_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.best_selling {
    display: flex;
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    align-items: center;
    column-gap: 33px;
    border-radius: 4px;
    background: #A1C3C9;
}

.best_selling_p {
    color: #2C4246;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.chevron_catalog {
    font-size: 24px;
    color: #2C4246;
}

/* card */
.card2 {
    padding: 0;
}

.card2_div {
    padding: 0 8px 16px 8px;
}

.section7_cards {
    display: flex;
    width: 1252px;
    height: 1720px;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.button_article {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin: auto;
}

.previous_next {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    border-radius: 8px;
    background-color: #C46A2B;
}

.previous {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pages {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.chevron_buttons {
    font-size: 24px;
    color: #D9D9D9;
}

.chevron_buttons:hover {
    color: #05BCCA;
}

/* contact html */
.social_div {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 16px;
}

.social_icons2 {
    font-size: 32px;
    color: #05BCCA;
}

.map {
    width: 286px;
    height: 151px;
}

.section8_div3 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.section8_form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

.article_form8 {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.section8_div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.section8_div2 {
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
}

.section8_article1 {
    display: flex;
    padding: 35px 40px;
    align-items: center;
    width: 616px;
    column-gap: 228px;
    background-color: #2C4246;
}

.section8_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
}

.section8_mail {
    display: flex;
    align-items: center;
    column-gap: 16px;
}



.section8_guitar {
    width: 100%;
    height: 100%;
}


.section8_h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 616px;
}

.section_8 {
    position: relative;
    height: 720px;
}

.section8_div1 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: absolute;
    right: 94px;
    top: 96px;


}

.fa-envelope {
    font-size: 24px;
    color: #D9D9D9;
}

.fa-envelope:hover {
    color: blue;
}

.fa-mobile-screen-button {
    font-size: 24px;
    color: #D9D9D9;
}

.fa-mobile-screen-button:hover {
    color: blueviolet;
}

.mail_p {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.location {
    width: 80px;
    height: 80px;
}

.location:hover {
    width: 100px;
    height: 100px;
}

.name1 {
    display: flex;
    width: 141px;
    padding: 6px 99px 6px 8px;
    align-items: center;
    border: none;
    background-color: #2C4246;
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.email1 {
    display: flex;
    width: 141px;
    padding: 6px 99px 6px 8px;
    align-items: center;
    border: none;
    background-color: #2C4246;
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

#textarea1 {
    width: 290px;
    height: 103px;
    padding: 6px 230px 77px 8px;
    resize: none;
    border: none;
    background-color: #2C4246;
    color: #A1C3C9;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

.send_message {
    display: flex;
    padding: 8px 83px;
    justify-content: center;
    align-items: center;
    background-color: #C46A2B;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
