/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding: 32px calc(94 / 1440 * 100%);
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav */
.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
/* hover */
.header_li:hover{
    border-bottom: 2px solid #05BCCA;
}

.guitar_logo {
    width: 64px;
    height: 64px;
}

/* third div */
.header_div3{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 42px;
}
.header_div3_2{
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.header_section{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.fa-magnifying-glass {
    font-size: 24px;
    color: #05BCCA;
}
/* hover */
.fa-magnifying-glass:hover{
    font-size: 30px;

}
.lan_val {
    color: #A1C3C9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
}
.fa-chevron-down{
    font-size: 13px;
    color: #05BCCA;
}
.fa-chevron-down:hover{
    font-size: 20px;
}
.user{
    color: #05BCCA;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}
.user:hover{
    background-color: #05BCCA;
    color: #012426;
}
.cart{
    color: #05BCCA;
    font-size: 24px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #05BCCA;
}
.cart:hover{
    background-color: #05BCCA;
    color: #012426;
}