@media (max-width: 1030px) {
    .second_responsive {
        display: none;
    }
    
    .previous{
        display: none;
    }

    /* section3 */
   
    .section3_article {
        width: 330px;
        height: 240px;
    }
    /* section7 */
    .section_7{
        row-gap: 40px;
    }

}
@media (max-width: 800px) {
    .footer_pos{
        column-gap: 149px;

    }
    .section_7{
        padding: 48px 32px;

    }
    

}