@media (max-width: 1030px) {
    .second_responsive {
        visibility: hidden;
    }
    /* section3 */
   
    .section3_article {
        width: 330px;
        height: 240px;
    }
    

}
@media (max-width: 800px) {
    .footer_pos{
        column-gap: 149px;

    }
    

}